@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
body {
  background-color: #4d80e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.5rem;
  margin: 0;

  margin-bottom: 1rem;
  color: #2e279d;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-div {
  padding: 2rem 4rem;
}

.search-div {
  height: 10vh;
  width: 40vw;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.btn,
.btn:active,
.btn:focus {
  height: 2.55rem;
  cursor: pointer;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;

  color: #dff6f0;
  font-size: 1.2rem;
  background-color: #2e279d;
  text-align: center;
  transition: all 0.15s;
}

.btn:hover {
  background-color: #46b3e6;
  color: #2e279d;
}
.random-btn {
  height: auto;
  border-radius: 2rem;
  padding: 1rem 1rem;
}
.search-input {
  display: block;
  height: 2.5rem;
  width: 20rem;
  padding: 0 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-style: none;
  font-size: 1rem;
}

.showResult {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.2rem;
}

.result-divi {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  width: 60vw;
  background-color: #46b3e6;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  align-items: flex-start;
}

.title-result {
  margin: 0;
  margin-bottom: 0.2rem;
}

.link-result {
  display: block;
  margin-top: 0.5rem;
  color: #2e279d;
  text-decoration: none;
  transition: all 0.2s;
}

.result-divi-text {
  display: block;
  margin-top: 0.5rem;
  color: #dff6f0;
  font-style: italic;
}

.result-link {
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #2e279d;
  transition: all 0.2s;
}

.result-link:hover,
.link-result:hover {
  transform: translateY(-0.2rem);
  color: #2e279d;
  text-shadow: 0 0 1rem rgba(46, 39, 157, 0.8);
}

@media only screen and (max-width: 25em) {
  h1 {
    font-size: 3rem;
  }

  .btn,
  .btn:active,
  .btn:focus {
    font-size: 0.8rem;
  }
  .showResult {
    font-size: 1rem;
  }
}
